body {
  background-image: url("images/Pixel-MountainsRiverboat.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  color: #00796b;
  text-decoration: none;
}

.container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

.box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.search-box {
  text-align: center;

}

.weather-content {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
}

header {
  border-bottom: 1px solid #ffffff;
  padding: 0 0 30px 0;
}

.search-form-input {
  width: 80%;
  padding: 10px;
  border: #00796b 2px solid;
  border-radius: 8px;
  font-size: 16px;
}

.search-button {
  padding: 14px 30px;
  background-color: #00796b;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #004d40;
}

main {
  padding: 30px 0;
}

.app-details {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 24px;
  font-weight: 500;
}

.app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.app-details strong {
  color: #00796b;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

.app-temp-container {
  display: flex;
}

.app-icon {
  width: 88px;
  height: 88px;
}

.app-temp {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.app-unit {
  margin-top: 6px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.forecast-date {
  text-align: center;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.forecast-temps {
  text-align: center;
  color: #00796b;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.forecast-temp {
  padding: 0 10px;
}

footer {
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  border-top: 1px solid #ffffff;
  padding: 10px 0 0 0;
}