body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/176/130/original/Pixel-PinkSunset.jpg?1763966529");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  color: #f54d7e;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.weather-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.search-form-input {
  font-family: "Quicksand", sans-serif;
  background-color: #916591;
  border: none;
  border-radius: 8px;
  width: 70%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-input::placeholder {
  color: #f2decb;
}

.search-button {
  font-family: "Quicksand", sans-serif;
  background: #6f246f;
  padding: 14px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: #f2decb;
  cursor: pointer;
}

main {
  padding: 30px 0;
  font-family: "Quicksand", sans-serif;
}

.search-button:hover {
  background-color: #f54d7e;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

.app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.6);
}

.app-details {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 24px;
  font-weight: 500;
}

.app-details strong {
  color: #6f246f;
}

.app-temp-container {
  display: flex;
}

.app-icon {
  width: 88px;
  height: 88px;
}

.app-temp {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
  color: #6f246f;
}

.app-unit {
  margin-top: 6px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.forecast-date {
  text-align: center;
  color: #f2decb;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.forecast-temps {
  text-align: center;
  color: #6f246f;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.forecast-temp {
  padding: 0 10px;
}

footer {
  text-align: center;
  font-size: 13px;
  font-family: "Quicksand", sans-serif;
  color: #f2decb;
}

.box {
  background-color: rgba(245, 245, 245, 0.4);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-box {
  margin-top: 30px;
}

.weather-box {
  margin-bottom: 200px;
}
