body {
    background-color: #e0f7fa;
    color: #00796b;
    padding: 50px;
}

a {
    color: #00796b;
    text-decoration: none;
}

.weather-content {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    border-bottom: 1px solid #ffffff;
    padding: 0 0 30px 0;
}

.search-form-input {
    width: 80%;
    padding: 10px;
    border:#00796b 2px solid;
    border-radius: 8px;
    font-size: 16px;
}

.search-button {
    padding: 14px 30px;
    background-color: #00796b;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #004d40;
}

main {
    padding: 30px 0;
}

.app-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}

.app-details {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 24px;
    font-weight: 500;
}

.app-details strong {
    color: rgba(0, 0, 0, 0.8);
}

.weather-data {
    display: flex;
    justify-content: space-between;
}

.app-temp-container {
    display: flex;
}

.app-icon {
    font-size: 44px;
    margin-top: 22px;
}

.app-temp {
    font-size: 88px;
    font-weight: bold;
    margin-left: 10px;
}

.app-unit {
    font-size: 28px;
    margin-top: 16px;
}

footer {
    text-align: center;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    border-top: 1px solid #ffffff;
    padding: 10px 0 0 0;
}